USE [master]
GO
/****** Object:  Database [SistemaGarconBD]    Script Date: 29/11/2020 22:06:41 ******/
CREATE DATABASE [SistemaGarconBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaGarconBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\SistemaGarconBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaGarconBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\SistemaGarconBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaGarconBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaGarconBD]
GO
/****** Object:  Table [dbo].[Mesa]    Script Date: 29/11/2020 22:06:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome_Cliente] [varchar](50) NULL,
	[Situacao] [char](1) NULL,
	[Numero] [int] NULL,
 CONSTRAINT [PK_Mesa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido_Copa]    Script Date: 29/11/2020 22:06:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido_Copa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Mesa] [int] NOT NULL,
	[Bebida_1] [int] NOT NULL,
	[Bebida_2] [int] NOT NULL,
	[Bebida_3] [int] NOT NULL,
	[Situacao] [char](1) NOT NULL,
	[Cliente] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Pedido_Copa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido_Cozinha]    Script Date: 29/11/2020 22:06:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido_Cozinha](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Mesa] [int] NOT NULL,
	[Prato_1] [int] NOT NULL,
	[Prato_2] [int] NOT NULL,
	[Prato_3] [int] NOT NULL,
	[Situacao] [char](1) NOT NULL,
	[Cliente] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Pedido_Cozinha] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pedido_Copa]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Copa_Mesa] FOREIGN KEY([Id_Mesa])
REFERENCES [dbo].[Mesa] ([Id])
GO
ALTER TABLE [dbo].[Pedido_Copa] CHECK CONSTRAINT [FK_Pedido_Copa_Mesa]
GO
ALTER TABLE [dbo].[Pedido_Cozinha]  WITH CHECK ADD  CONSTRAINT [FK_Pedido_Cozinha_Mesa] FOREIGN KEY([Id_Mesa])
REFERENCES [dbo].[Mesa] ([Id])
GO
ALTER TABLE [dbo].[Pedido_Cozinha] CHECK CONSTRAINT [FK_Pedido_Cozinha_Mesa]
GO
USE [master]
GO
